body{
  background-color: #7f8c8d;
}


form {
  border: 3px solid #7f8c8d;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 25px;
  background-color: #bdc3c7;
}
input[type=text]:hover, input[type=password]:hover{
  background-color: #ecf0f1;
}
label{
  font-size: 25px;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 1;
  font-size: 30px;
}


button:hover {
  background-color: #3498db;
}

.imgcontainer {
  text-align: center;
  margin: 12px 0 6px 0;
}

img.avatar {
  width: 20%;
  border-radius: 30%;
}
.container {
  padding: 16px;
  background-color: #95a5a6;
}

.psw{
  font-size: 30px;
}
